<!-- <p>footer works!</p> -->
<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top text-white">
        <div class="col-md-4 d-flex align-items-center">
            <div class="col mb-3">
                <h5>Info</h5>
                <ul class="nav flex-column">
                    <!-- <li class="nav-item mb-2">Logo</li> -->
                    <li class="nav-item mb-2">Name</li>
                    <li class="nav-item mb-2">Ruc</li>
                    <!-- <li class="nav-item mb-2">Slogan</li> -->
                    <li class="nav-item mb-2">Telefono</li>
                    <li class="nav-item mb-2">Dirección</li>
                    <li class="nav-item mb-2">Email</li>
                    <!-- <li class="nav-item mb-2">Etc etc</li> -->
                </ul>
              </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0">© 2025 Company, Inc</span><!-- class+=text-body-secondary -->
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-whatsapp"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-facebook"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-x-twitter"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Facebook"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Facebook"><i class="fa-brands fa-square-threads"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-pinterest"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Facebook"><i class="fa-brands fa-linkedin"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Facebook"><i class="fa-brands fa-square-youtube"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-instagram"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-reddit"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-snapchat"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-tumblr"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Instagram"><i class="fa-brands fa-square-vimeo"></i></a></li><!-- class+=text-body-secondary -->
            <li class="ms-3"><a class="text-white" href="#" aria-label="Facebook"><i class="fa-brands fa-square-google-plus"></i></a></li><!-- class+=text-body-secondary -->
        </ul>
    </footer>
</div>