<nav class="navbar navbar-expand-lg" [ngStyle]="{ backgroundColor: navbarColor.background, color: navbarColor.text }"><!-- tw -->
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/transport.png" alt="Logo" style="height: 60px;">
      <!-- FALTA UN SERVICIO PARA TRAER LA INFO DE LA APLICATION AQUÍ VA EL NOMBRE DE LA APP -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <app-dynamic-button
            label="Inicio"
            routerLink="/home"
            routerLinkActive="active">
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="Productos"
            routerLink="/products"
            routerLinkActive="active">
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="Ayuda"
            routerLink="/help"
            routerLinkActive="active">
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="Admin Dashboard"
            routerLink="/admin-dashboard"
            routerLinkActive="active">
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="User Dashboard"
            routerLink="/user-dashboard"
            routerLinkActive="active">
          </app-dynamic-button>
        </li>
      </ul>
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <app-dynamic-button
              label="Inicia sesión"
              routerLink="/login"
              routerLinkActive="active">
            </app-dynamic-button>
          </li>
          <li class="nav-item">
            <app-dynamic-button
              label="Registrar"
              routerLink="/signup"
              routerLinkActive="active">
            </app-dynamic-button>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item dropdown">
            <a class="btn nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            *ngIf="user"
            [ngStyle]="{
              backgroundColor: hoveredDropdownItem === 'userToggle' ? navbarColor.fondoHover : navbarColor.background,
              color: hoveredDropdownItem === 'userToggle' ? navbarColor.textoHover : navbarColor.text
            }"
            (mouseenter)="hoveredDropdownItem = 'userToggle'"
            (mouseleave)="hoveredDropdownItem = null">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu" [ngStyle]="{ backgroundColor: navbarColor.background }">
              <li><a class="dropdown-item"
                routerLink="/user"
                routerLinkActive="active"
                [ngStyle]="{
                  backgroundColor: hoveredDropdownItem === 0 ? navbarColor.fondoHover : navbarColor.background,
                  color: hoveredDropdownItem === 0 ? navbarColor.textoHover : navbarColor.text
                }"
                (mouseenter)="hoveredDropdownItem = 0"
                (mouseleave)="hoveredDropdownItem = null">Mi perfil</a></li>
              <li><a class="dropdown-item"
                routerLink="/user/settings"
                routerLinkActive="active"
                [ngStyle]="{
                  backgroundColor: hoveredDropdownItem === 1 ? navbarColor.fondoHover : navbarColor.background,
                  color: hoveredDropdownItem === 1 ? navbarColor.textoHover : navbarColor.text
                }"
                (mouseenter)="hoveredDropdownItem = 1"
                (mouseleave)="hoveredDropdownItem = null">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"
                routerLink="/recover-password"
                routerLinkActive="active"
                [ngStyle]="{
                  backgroundColor: hoveredDropdownItem === 2 ? navbarColor.fondoHover : navbarColor.background,
                  color: hoveredDropdownItem === 2 ? navbarColor.textoHover : navbarColor.text
                }"
                (mouseenter)="hoveredDropdownItem = 2"
                (mouseleave)="hoveredDropdownItem = null">Recuperar contraseña</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <app-dynamic-button
              label="Cerrar sesión"
              (click)="logout()">
            </app-dynamic-button>
          </li>
        </ng-container>
        <div class="position-relative me-3 d-flex ms-auto align-items-center">
          <a routerLink="/cart" class="nav-link p-0 d-flex" aria-label="Carrito">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icon-tabler-shopping-cart"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 17h-11v-14h-2" />
              <path d="M6 5l14 1l-1 7h-13" />
            </svg>
        
            @if (cartState.count() > 0) {
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                style="font-size: 0.75rem;"
              >
                {{ cartState.count() }}
              </span>
            }
          </a>
        </div>
      </ul>
    </div>
    <div class="d-flex ms-auto align-items-center">
      <!-- <a class="btn hover:!bg-[#FFFFFF40] text-white hover:!text-black" routerLink="/recover-password" routerLinkActive="active" ariaCurrentWhenActive="page">
        Recover Pass
      </a> -->
    </div>
  </div>
</nav>
