<nav class="navbar navbar-expand-lg" [ngStyle]="{ backgroundColor: navbarColor.background, color: navbarColor.text }"><!-- tw -->
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/transport.png" alt="Logo" style="height: 60px;">
      <!-- FALTA UN SERVICIO PARA TRAER LA INFO DE LA APLICATION AQUÍ VA EL NOMBRE DE LA APP -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <app-dynamic-button
            label="Inicio"
            routerLink="/home"
            routerLinkActive="active">
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="Productos"
            routerLink="/products"
            routerLinkActive="active"><!-- <a ariaCurrentWhenActive="page">Productos</a> -->
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="Ayuda"
            routerLink="/help"
            routerLinkActive="active"><!-- <a ariaCurrentWhenActive="page">Productos</a> -->
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="Admin Dashboard"
            routerLink="/admin-dashboard"
            routerLinkActive="active"><!-- <a ariaCurrentWhenActive="page">Productos</a> -->
          </app-dynamic-button>
        </li>
        <li class="nav-item">
          <app-dynamic-button
            label="User Dashboard"
            routerLink="/user-dashboard"
            routerLinkActive="active"><!-- <a ariaCurrentWhenActive="page">Productos</a> -->
          </app-dynamic-button>
        </li>
      </ul>
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <app-dynamic-button
              label="Inicia sesión"
              routerLink="/login"
              routerLinkActive="active"><!-- <a ariaCurrentWhenActive="page">Productos</a> -->
            </app-dynamic-button>
          </li>
          <li class="nav-item">
            <app-dynamic-button
              label="Registrar"
              routerLink="/signup"
              routerLinkActive="active"><!-- <a ariaCurrentWhenActive="page">Productos</a> -->
            </app-dynamic-button>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="user">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Mi perfil</a></li>
              <li><a class="dropdown-item" routerLink="/user/settings" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/recover-password" routerLinkActive="active" ariaCurrentWhenActive="page">Recuperar contraseña</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light me-3" (click)="logout()">Cerrar sesión</button>
          </li>
        </ng-container>
        <div class="tw">
          <button class="relative me-3" routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 17h-11v-14h-2" />
              <path d="M6 5l14 1l-1 7h-13" />
            </svg>
    
            @if (cartState.count() > 0) {
              <span
                class="absolute bg-green-600 size-6 rounded-full flex items-center justify-center -right-2"
                >{{ cartState.count() }}</span
              >
            }
          </button>
        </div>
      </ul>
    </div>
    <div class="d-flex ms-auto align-items-center">
      <!-- <a class="btn hover:!bg-[#FFFFFF40] text-white hover:!text-black" routerLink="/recover-password" routerLinkActive="active" ariaCurrentWhenActive="page">
        Recover Pass
      </a> -->
    </div>
  </div>
</nav>

  
