<!-- <p>dynamic-page-pagination works!</p> -->
<div class="flex justify-center mt-6 space-x-2">
    <!-- Botón anterior -->
    <button
      class="px-3 py-1 border rounded"
      [ngStyle]="{
        backgroundColor: hoveredPage === -1 ? color.hoverBackground : color.background,
        color: hoveredPage === -1 ? color.hoverText : color.text
      }"
      (mouseenter)="hoveredPage = -1"
      (mouseleave)="hoveredPage = null"
      (click)="onClick('previous')"
      [disabled]="currentPage === 1"
    >
      «
    </button>
  
    <!-- Botones numéricos -->
    <!-- Botones numéricos con puntos suspensivos -->
    <button
      *ngFor="let page of displayedPagination"
      class="px-3 py-1 border rounded"
      [ngStyle]="{
        backgroundColor:
          hoveredPage === page || currentPage === page
            ? color.hoverBackground
            : color.background,
        color:
          hoveredPage === page || currentPage === page
            ? color.hoverText
            : color.text
      }"
      (mouseenter)="hoveredPage = typeof page === 'number' ? page : null"
      (mouseleave)="hoveredPage = null"
      (click)="typeof page === 'number' ? onClick(page) : null"
      [disabled]="typeof page !== 'number'"
    >
      {{ page === 'prevEllipsis' || page === 'nextEllipsis' ? '...' : page }}
    </button>

    <!-- Botón siguiente -->
    <button
      class="px-3 py-1 border rounded"
      [ngStyle]="{
        backgroundColor: hoveredPage === -2 ? color.hoverBackground : color.background,
        color: hoveredPage === -2 ? color.hoverText : color.text
      }"
      (mouseenter)="hoveredPage = -2"
      (mouseleave)="hoveredPage = null"
      (click)="onClick('next')"
      [disabled]="currentPage === totalPages"
    >
      »
    </button>
  </div>
