@if (productDetailState.status() === "loading") {
  <div class="loading">Loading...</div>
} @else {
  <section class="tw py-8 bg-gray-900 md:py-16 dark:bg-white antialiased" [ngStyle]="{ backgroundColor: homePageColor.backgroundTertiary }">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
        <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
          <img 
            *ngIf="!is360Mode"
            class="w-full h-full object-contain"
            [src]="productDetailState.product()?.url"
            alt="Producto"
          />
          
          <!-- <img
            class="w-full h-full object-contain"
            [src]="currentFrameUrl"
            alt="Vista 360"
            (mousemove)="onMouseMove($event)"
          /> -->
        </div>
        <!-- <div class="relative w-full h-96">
            <img />
          
            <div *ngIf="is360Mode" class="w-full h-full overflow-hidden">
              <img />
            </div>
          </div>
        -->
        <div class="mt-6 sm:mt-8 lg:mt-0">
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
            {{ productDetailState.product()?.name }}
          </h1>
          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white">
              {{ productDetailState.product()?.price | currency }}
            </p>

            <div class="flex items-center gap-2 mt-2 sm:mt-0">
              <div class="flex items-center gap-1">
                <app-rating-stars [ratingRate]="productDetailState.product()!.ratingRate" [ratingCount]="productDetailState.product()!.ratingCount"></app-rating-stars>
              </div>
              <p
                class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
              >
                (5.0)
              </p>
              <a
                href="#"
                class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
              >
                345 Reviews
              </a>
            </div>
          </div>
          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <button class="btn flex items-center gap-2 font-medium py-2 px-4 rounded-full transition" [ngStyle]="{
              backgroundColor: isHovered ? pageButtonsColor.hoverBackground : pageButtonsColor.background,
              color: isHovered ? pageButtonsColor.hoverText : pageButtonsColor.text
            }" (click)="addToCart()" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
              🛒 Agregar al carrito
            </button>
          </div>

          <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

          <h6 class="mb-6 text-gray-500 dark:text-gray-400">
            {{ productDetailState.product()?.description }}
          </h6>
        </div>
      </div>
    </div>
  </section>

<!-- Otras publicaciones interesantes -->
<app-random-products></app-random-products>
}