<div class="tw">
  <!-- Filtro por categorías -->
  <div class="tw mb-4 flex flex-wrap gap-3 justify-center">
    <button
      *ngFor="let category of categories"
      (click)="selectTab(category)"
      [ngStyle]="{
        backgroundColor: hoveredTabItem === category || selectedTabItem === category ? color.hoverBackground : color.background,
        color: hoveredTabItem === category || selectedTabItem === category ? color.hoverText : color.text
      }"
      class="px-4 py-2 rounded transition"
      (mouseenter)="hoveredTabItem = category"
      (mouseleave)="hoveredTabItem = null"
    >
      {{ category | titlecase }}
    </button>
  </div>

  <!-- Listado de productos -->
  <div class="tw grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <app-product-card
      *ngFor="let product of paginatedProducts; trackBy: trackById"
      [product]="product"
      (addToCart)="addToCart($event)"
    />
  </div>

  <!-- Paginación -->
  <app-dynamic-page-pagination
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [color]="color"
    (pageChange)="pageChanged($event)">
  </app-dynamic-page-pagination>
</div>