<!-- <p>customization-dashboard works!</p> -->
<form [formGroup]="themeForm" (ngSubmit)="onSubmit()" *ngIf="themeForm">
  <h2>Editar Colores - Modo Claro</h2>
  <div formGroupName="light">
    <div formGroupName="pageButtons">
      <label>Background:</label>
      <input formControlName="background" type="color" />

      <label>Text:</label>
      <input formControlName="text" type="color" />

      <label>Hover Background:</label>
      <input formControlName="hoverBackground" type="color" />

      <label>Hover Text:</label>
      <input formControlName="hoverText" type="color" />
    </div>
  </div>

  <h2>Editar Colores - Modo Oscuro</h2>
  <div formGroupName="dark">
    <div formGroupName="pageButtons">
      <label>Background:</label>
      <input formControlName="background" type="color" />

      <label>Text:</label>
      <input formControlName="text" type="color" />

      <label>Hover Background:</label>
      <input formControlName="hoverBackground" type="color" />

      <label>Hover Text:</label>
      <input formControlName="hoverText" type="color" />
    </div>
  </div>

  <button type="submit">Guardar Cambios</button>
</form>
