<div class="d-flex row">
  <div class="col-auto p-0">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-auto flex-fill p-3" [ngStyle]="{ 'background-color': backgroundSecondary, 'color': textBodyColor }">
    <!-- Contenido del Dashboard -->
    <h1 [style.color]="textTitleColor">Dashboard</h1>
    <h2 [style.color]="textTitleColor" *ngIf="isAdmin">Bienvenido al panel de <strong>Administrador</strong></h2>
    <h2 [style.color]="textTitleColor" *ngIf="isVendedor">Bienvenido al panel de <strong>Vendedor/Cajero</strong></h2>
    <h2 [style.color]="textTitleColor" *ngIf="isCliente">Bienvenido al panel de <strong>Cliente</strong></h2>
    <h2 [style.color]="textTitleColor" *ngIf="isProveedor">Bienvenido al panel de <strong>Proveedor</strong></h2>


    
    <router-outlet></router-outlet>
  </div>
</div>