<div class="tw flex flex-col p-3 overflow-auto">
  <div class="w-full overflow-x-auto">
    <table id="usersTable" class="display table table-striped table-bordered w-full text-sm">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Estado</th>
          <th>Dirección</th>
          <th>Fecha creación</th>
          <th class="text-center no-export">Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
  
<!-- Modal para Ver/Editar Usuario -->
<div id="userModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [ngStyle]="{ 'background-color': pageContentColors.backgroundPage }"><!-- Copy Paste de ngStyle -->
        <h5 class="modal-title">
          {{ modalMode === 'view' ? 'Ver Usuario' : 'Editar Usuario' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" [ngStyle]="{ 'background-color': pageContentColors.backgroundPage }" *ngIf="selectedUser"><!-- Copy Paste de ngStyle -->
        <form #userForm="ngForm" class="row g-3 needs-validation" novalidate (ngSubmit)="saveUserChanges()">
          <div class="mb-3">
            <label class="form-label">Nombres</label>
            <p *ngIf="modalMode === 'view'">{{ selectedUser.firstName }}</p>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.firstName" name="firstName" required>
            <div class="valid-feedback">
              Perfectoo!
            </div>
            <div class="invalid-feedback">
              Porfavor escriba su nombre.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <p *ngIf="modalMode === 'view'">{{ selectedUser.lastName }}</p>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.lastName" name="lastName" required>
            <div class="valid-feedback">
              Perfectoo!
            </div>
            <div class="invalid-feedback">
              Porfavor escriba su apellido.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <p *ngIf="modalMode === 'view'">{{ selectedUser.email }}</p>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="email" class="form-control" [(ngModel)]="selectedUser.email" name="email" required>
            <div class="valid-feedback">
              Perfectoo!
            </div>
            <div class="invalid-feedback">
              Porfavor escriba su correo electrónico.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Address</label>
            <p *ngIf="modalMode === 'view'">{{ selectedUser.address }}</p>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.address" name="address" required>
            <div class="valid-feedback">
              Perfectoo!
            </div>
            <div class="invalid-feedback">
              Porfavor escriba su dirección.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Phone</label>
            <p *ngIf="modalMode === 'view'">{{ selectedUser.phoneNumber }}</p>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="phone" class="form-control" [(ngModel)]="selectedUser.phoneNumber" name="phoneNumber" required>
            <div class="valid-feedback">
              Perfectoo!
            </div>
            <div class="invalid-feedback">
              Porfavor escriba su número de teléfono.
            </div>
          </div>
          <!--
          <div *ngIf="modalMode !== 'view'" class="mb-3">
            <label class="form-label">Password</label>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="password" class="form-control" [(ngModel)]="selectedUser.password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please write your password.
            </div>
          </div>
          -->
          <!-- ROLE SE OMITE PORQUE VA EN OTRO MÓDULO -->
          <div class="mb-3">
            <p *ngIf="modalMode === 'view'" hidden>{{ selectedUser.password }}</p>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" class="form-control" [(ngModel)]="selectedUser.password" name="password" hidden placeholder="12345"/>
            <div class="valid-feedback">
              Perfectoo!
            </div>
            <div class="invalid-feedback">
              Porfavor escriba su contraseña.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Estado</label>
            <p *ngIf="modalMode === 'view'">{{ selectedUser.status }}</p>
            <select *ngIf="modalMode === 'edit' || modalMode === 'create'" class="form-control" [(ngModel)]="selectedUser.status" name="status">
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
            <div class="valid-feedback">
              Perfectoo!
            </div>
            <div class="invalid-feedback">
              Porfavor seleccione el estado.
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Imagen</label>
            <div
              class="drop-area form-control"
              (drop)="onDrop($event)"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)"
              style="min-height: 100px; border: 2px dashed #ccc;"
            >
              <p *ngIf="!selectedUser?.photo">Arrastra aquí tu imagen</p>
              <img *ngIf="selectedUser?.photo" [src]="selectedUser.photo" class="img-thumbnail mt-2" width="100">
              <input
                type="file"
                class="form-control d-none"
                (change)="handleImageUpload($event)"
                #fileInput
                accept="image/*"
                *ngIf="modalMode === 'edit'"
              />
            </div>
            <button
              *ngIf="modalMode === 'edit'"
              class="btn btn-sm btn-outline-secondary mt-2"
              (click)="onSelectImage($event)"
            >
              Seleccionar imagen
            </button>
          </div>
          
          <div class="mb-3">
            <label class="form-label">Fecha de Creación</label>
            <p *ngIf="modalMode === 'view'">{{ selectedUser.createdAt }}</p>
            <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.createdAt" name="createdAt" readonly required>
          </div>
          <div class="valid-feedback">
            Perfectoo!
          </div>
          <div class="invalid-feedback">
            Porfavor seleccione su fecha de creación.
          </div>
          <div class="modal-footer" [ngStyle]="{ 'background-color': pageContentColors.backgroundPage }"><!-- Copy Paste de ngStyle -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button *ngIf="modalMode === 'edit' || modalMode === 'create'" type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
