<div class="sidebar-fixed">
  <a routerLink="/admin-dashboard" class="sidebar-brand">
    <span>Admin / User Panel</span>
  </a>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/admin-dashboard" class="nav-link">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/dashboard-products" class="nav-link">
        <i class="fas fa-box"></i> Productos
      </a>
    </li>
    <li>
      <a routerLink="/dashboard-orders" class="nav-link">
        <i class="fas fa-shopping-cart"></i> Órdenes
      </a>
    </li>
    <li>
      <a routerLink="/settings" class="nav-link">
        <i class="fas fa-cog"></i> Configuraciones
      </a>
    </li>
  </ul>
  <hr>
  <a routerLink="/logout" class="nav-link logout">
    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
  </a>
</div>
