<div class="tw flex flex-col p-3 overflow-auto">
    <div class="w-full overflow-x-auto">
      <table id="ordersTable" class="display table table-striped table-bordered w-full text-sm">
        <thead>
         <tr>
        <th>ID</th>
        <th>ID Tienda</th>
        <th>ID Usuario</th>
        <th>Fecha Venta</th>
        <th>Método de Pago</th>
        <th>Total</th>
        <th>Estado</th>
        <th class="no-export">Acciones</th>
      </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
 <!-- Modal para Ver/Editar Orden -->





<div id="orderModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" [ngStyle]="{ 'background-color': pageContentColors.backgroundPage }"><!-- Copy Paste de ngStyle -->>
          <h5 class="modal-title">
            {{ modalMode === 'view' ? 'Ver Compra' : 'Editar Compra' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" [ngStyle]="{ 'background-color': pageContentColors.backgroundPage }"><!-- Copy Paste de ngStyle -->>
         <form #orderForm="ngForm" class="row g-3 needs-validation" novalidate (ngSubmit)="saveOrderChanges()">
            <div class="mb-3">
              <label class="form-label">Fecha de Venta</label>
              <input *ngIf="selectedOrder" type="text" class="form-control" [(ngModel)]="selectedOrder.saleDate" name="name" [disabled]="modalMode === 'view'">
            </div>
            <div class="mb-3">
              <label class="form-label">Método de Pago</label>
              <textarea *ngIf="selectedOrder" class="form-control" [(ngModel)]="selectedOrder.paymentMethod" name="description" [disabled]="modalMode === 'view'"></textarea>
            </div>
               <div class="mb-3">
              <label class="form-label">Total</label>
              <textarea *ngIf="selectedOrder" class="form-control" [(ngModel)]="selectedOrder.totalAmount" name="description" [disabled]="modalMode === 'view'"></textarea>
                </div>
            <div class="mb-3">
              <label class="form-label">Estado</label>
              <select *ngIf="selectedOrder" class="form-control" [(ngModel)]="selectedOrder.statu" name="status" [disabled]="modalMode === 'view'">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
              </select>
            </div>

            
            <div class="mb-3">
              <label class="form-label">Fecha de Creación</label>
              <input *ngIf="selectedOrder" type="text" class="form-control" [(ngModel)]="selectedOrder.createdAt" name="createdAt" disabled>
            </div>
            <div class="modal-footer" [ngStyle]="{ 'background-color': pageContentColors.backgroundPage }"><!-- Copy Paste de ngStyle -->>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button *ngIf="modalMode === 'edit' || modalMode === 'create'" type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>





