/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar */
  .sidebar-fixed {
    color: white;
    padding-top: 20px;
    z-index: 1000; /* Asegura que quede por debajo del navbar */
}

/* Ajusta el contenido principal para que no quede debajo del sidebar */
.main-content {
    margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
    padding: 20px;
    width: calc(100% - 250px);
}

/* Ajusta la tabla para moverla más a la derecha */


/* Estilos del menú en el sidebar */
.nav-item .nav-link {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

.nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Corrige el menú dropdown en el sidebar */
.sidebar-fixed .nav .nav-item .dropdown-menu {
    position: relative;
    width: 100%;
    background: #343a40;
    border: none;
}
